<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccess.Properties.Settings.hastaneConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\hastane.accdb"
            providerName="System.Data.OleDb" />
        <add name="DataAccess.Properties.Settings.denemeConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\deneme.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>